<img src='<%= @host[:bg] %>' style='position: fixed; top: 0; left: 0; z-index: -1; width: 100vw; height: 100vh;'>
<h3 style='position: absolute; top: 0; width: 100%; margin: 0; text-align: center;'>

<% if @user != nil %>

<% if @group != nil && "#{@group['phone']}".length > 0 %>
   <a class='material-icons' href='<%= @group['phone'] %>'>call</a>
<% elsif "#{@user['phone']}".length > 0 %>
   <a class='material-icons' href='<%= @user['phone'] %>'>call</a>
<% end %>

<% if @group != nil && "#{@group['link']}".length > 0 %>
   <a class='material-icons' href='<%= @group['link'] %>'>link</a>
<% elsif "#{@user['link']}".length > 0 %>
   <a class='material-icons' href='<%= @user['link'] %>'>link</a>
<% end %>

<% if @group != nil && "#{@group['tips']}".length > 0 %>
   <a class='material-icons' href='<%= @group['tips'] %>'>store</a>
<% elsif "#{@user['tips']}".length > 0 %>
   <a class='material-icons' href='<%= @user['tips'] %>'>store</a>
<% end %>

<% if @group == nil && @badge == nil %>
<span class='material-icons'>groups</span>
<select class='path_push'>
  <option value='none' selected disabled>member</option>
  <% @user['groups'].each do |e| %>
  <option value='<%= e %>'><%= e %></option>
  <% end %>
  </select>
<% end %>

<% if @group != nil && @badge == nil %>
<span class='material-icons'>military_tech</span>
<select class='path_push'>
  <option value='none' selected disabled>services</option>
  <% @group['titles'].each do |e| %>
  <option value='<%= e %>'><%= e %></option>
  <% end %>
</select>
<% end %>

<% if @group != nil && @badge != nil %>
<span class='material-icons'>military_tech</span>
<select class='path_goto'>
  <option value='none' selected disabled><%= @path[2] %></option>
  <% @badge['users'].each do |e| %>
  <option value='<%= e %>'><%= e %></option>
  <% end %>
</select>
<% end %>

<% else %>
  <h1 style='width: 100%; text-align: center;'>
  <span style='border: thick solid orange; border-radius: 50px; padding: 1% 2% 0% 2%; background-color: black; color: white; text-shadow: 0px 2px orange, 0px -2px orange; box-shadow: 0px 0px 10px grey;'><%= @host.id %></span>
  </h1>
<% end %>
</h3>


<div style='position: absolute; bottom: 0; width: 100%; margin: 0; text-align: center; max-height: 60%; overflow-y: scroll;'>

<% if @user != nil %>

<% if @badge != nil %>
  <p style='width: 100%; text-align: center;'><span class='material-icons'><%= @badge[:icon] %></span><%= @badge[:about] %></p>
<% else %>

<% if @group != nil %>
   <h3 style='width: 100%; text-align: center;'><%= @group[:name] %></h3>
<% else %>
   <h3 style='width: 100%; text-align: center;'><%= @user[:name] %></h3>
<% end %>

<% if @group != nil %>
   <p><%= @group[:about] %></p>
<% else %>
   <p><%= @user[:about] %></p>
<% end %>

<% end %>
<% else %>
  <button type='button' id='login'>login</button>
<% end %>
</div>

<!-- DEBUG
<%# [@host, @user, @group, @tag].each_with_index do |e, i| %>
<%# if e != nil %>
<%# e.to_h.each_pair do |k,v| %>
<p><span><%# i %>:<%# k %></span><code><%# JSON.generate(v) %></code></p>
<%# end %>
<%# end %>
<%# end %>
-->
