<p style='width: 100%; text-align: center;'>
<select id='badge_group' style='width: 70%; margin: 0;'>
  <option value='<%= @host.id %>' selected disabled><%= @host.id %></option>
  <% @user['groups'].each do |group| %>
  <option value='<%= group %>'><%= group %></option>
  <% end %>
</select>

<input type='checkbox' id='badge_invite'><label for='invite' class='material-icons'></label>
</p>
<div id='qrcode_0' style='padding: 3% 2% 3% 2%; background-color: white;'></div>
<div id='qrcode_1' style='padding: 3% 2% 3% 2%; background-color: white; display: none;'></div>

<div>
  <% @user['badges'].each do |e| %>
  <span style='border: thick solid black; border-radius: 50px; padding: 2%; vertical-align: middle;'><%= e %></span>
  <% end %>
  <% @user['groups'].each do |e| %>
  <p style='width: 100%; text-align: center;'>
    <span style='border: thick solid black; border-radius: 50px; padding: 2%; vertical-align: middle;'><%= e %></span>
  </p>
  <% end %>
</div>
